<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tm.tresmore">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/launcher"
        android:label="Tresmore"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
        <activity android:name=".Title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tm.tresmore.Login"></activity>
        <activity android:name="tm.tresmore.Dashboard"></activity>
        <activity android:name="tm.tresmore.Store"></activity>
        <activity android:name="tm.tresmore.Add"></activity>
        <activity android:name="tm.tresmore.Redeem"></activity>
        <activity android:name="tm.tresmore.Receipt"></activity>
        <activity android:name="tm.tresmore.Affliate"></activity>
        <activity android:name="tm.tresmore.FAQ"></activity>
        <activity android:name="tm.tresmore.Support"></activity>
        <activity android:name="tm.tresmore.Upload"></activity>
        <activity android:name="tm.tresmore.Confirm"></activity>
        <activity android:name="tm.tresmore.OcrCaptureActivity"></activity>


    </application>

</manifest>
<!--ejhejh1205-->
<!--TresmoreKey-->
<!--Ejhejh1205%-->